
h1 {
    color: black;
    padding-top: 10px;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    float: left;
 
}

h2 { color: #80242b;}
    
p { color: black;
    font-size: 18px;
    font-family: helvetica, sans-serif;
    top: 40px;
    position: relative;
    margin: inherit;
    float: left;
    width: 50%;
    height: 350px;
    overflow: scroll;
}
  

.container {
    margin: inherit;
    width: 50%;
    float: left;
}

a { 
    background: black;
    border-radius: 3px;
    color: white;
    padding: 5px;
    text-decoration: dotted underline;
    margin: inherit;
    float: left;
    position: relative;
    top: 50px;
    
    
}


img {  width: 45%;
       height: 450px;
       float: right;
       margin: inherit;
       top: 160px;
 
 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}