
h1 {
    color: white;
    padding-top: 35px;
    font-size: 28px;
}

body {
    color: white;
}

p {
    color: black;
    font-size: 18px;
    font-family: sans-serif
}

.container {
    height: 100px;
    background-color: black;
    padding-left: 30px;
    margin: 0 auto;
}

a { color: black;
    background-color: white;
    padding: 14px;
    border: solid black 1px;
    
}

a:hover { 
         background-color: black;
         color: white;
}

